@{
    Layout = "_Layout";
    ViewData["Title"] = "Grid";
}

@model DateGrid

<h1>Grid</h1>

<table class="table table-bordered text-center">
    <thead>
        <tr>
            <th><a href="/?y=@Model.SelectedViewDate.Year&m=@Model.SelectedViewDate.AddMonths(-1).Month"><=</a></th>
            <th colspan="5">@Model.SelectedViewDate.ToString("MMMM yyyy")</th>
            <th><a href="/?y=@Model.SelectedViewDate.Year&m=@Model.SelectedViewDate.AddMonths(1).Month">=></a></th>
        </tr>
    </thead>
    <tbody>
        @for (int w = 0, i = 0; w < 6; w++)
        {
            @:<tr>
                for (int d = 0; d < 7; d++, i++)
                {
                    @:<td @if (Model.Days[i].Date.Month != Model.SelectedViewDate.Month)
                    {
                        @:class="table-secondary"
                    }>
        <a href="/Calendar/ListTasksForDay?y=@Model.Days[i].Date.Year&m=@Model.Days[i].Date.Month&d=@Model.Days[i].Date.Day">
        @Model.Days[i].Date.Day</a>
                        @if (Model.Days[i].QuantityTask > 0)
                        {
                            @:<span class="quantityTask">(@Model.Days[i].QuantityTask)</span>
                        }
                    @:</td>
                }
            @:</tr>
        }
    </tbody>
</table>

